--extra-index-url https://download.pytorch.org/whl/cu118
open3d==0.18.0
numpy==1.26.0
rich==13.9.4
tyro==0.9.2
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
gpytorch==1.13.0
pot==0.9.5
opencv-python==4.9.0.80
plyfile==1.1
bpy==4.0.0
tqdm==4.67.1
pyyaml==6.0.2
pandas==2.2.3